.btn-group {
  margin: auto 64px;

}
.btn-group button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  font-size: 12px;
}
